@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="row">
        <div class="col-sm-6">
            <partial name="_register" />
        </div>
        <div class="col-sm-6">
            <partial name="_login"/>
        </div>
    </div>
</div>
