<a href="/dashboard">Back</a>
<h1>@ViewBag.Prod.Name</h1>
<h3>Description: @ViewBag.Prod.Description</h3>
<h3>Price: $@ViewBag.Prod.Price.ToString("F")</h3>
<h3>Quantity in Stock: @ViewBag.Prod.Quantity</h3>
